menu "BSP GPIO Configuration"

    config STATUS_LED_BLUE_PIN
        int "LED BLUE Control GPIO"
        default 41

    config STATUS_LED_GREEN_PIN
        int "LED GREEM Control GPIO"
        default 42

    config STATUS_LED_RED_PIN
        int "LED RED Control GPIO"
        default 45

    config WIFI_SELECT_PIN
        int "WIFI SELECT PIN GPIO"
        default 47

    config LAN_SELECT_PIN
        int "LAN ETH SELECT PIN GPIO"
        default 48


endmenu
