build/
product/**/build
product/**/managed_components
product/**/dependencies.lock
.vscode/
.DS_Store
.cache
tags
sdkconfig.old
compile_commands.json
*.patch
*.swp
cscope.*
.gitmessage.txt
thirdparty/
product/irrigation/manufacturing/csv
product/irrigation/manufacturing/bin
product/irrigation/manufacturing/irrigation_config_tmp.csv
product/irrigation/manufacturing/irrigation_master_tmp.csv
product/irrigation/manufacturing/irrigation_master_tmp_created.csv
