[submodule "opensource/esp_littlefs"]
	path = opensource/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
[submodule "opensource/lvgl"]
	path = opensource/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "opensource/LovyanGFX"]
	path = opensource/LovyanGFX
	url = https://github.com/lovyan03/LovyanGFX.git
[submodule "arduino_platform/lib/RTClib"]
	path = arduino_platform/lib/RTClib
	url = https://github.com/adafruit/RTClib.git
[submodule "arduino_platform/lib/Adafruit_BusIO"]
	path = arduino_platform/lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "arduino_platform/arduino"]
	path = arduino_platform/arduino
	url = https://github.com/espressif/arduino-esp32.git
