build/
product/**/build
product/**/managed_components
product/**/dependencies.lock
product/**/main/idf_component.yml
.vscode/
.DS_Store
.cache
tags
sdkconfig.old
compile_commands.json
*.patch
*.swp
cscope.*
.gitmessage.txt
thirdparty/
