  menu "Winsen ZE03 feature"

    config WINSEN_ZE03_FEATURE
      bool "Winsen ZE03 feature"
      default "n"
      help
        Winsen ZE03 NH3 Gas Sensor

    config ZE03_UART_NUM
      depends on WINSEN_ZE03_FEATURE
      int "ZE03 UART port number"
      range 0 2
      default 1
      help
        UART communication port number for the Winsen ZE03

    config ZE03_UART_BAUDRATE
      depends on WINSEN_ZE03_FEATURE
      int "ZE03 UART communication speed"
      range 1200 115200
      default 9600
      help
        UART communication speed for the Winsen ZE03

    config ZE03_UART_RXD
      depends on WINSEN_ZE03_FEATURE
      int "ZE03 UART RXD pin number"
      default 18
      help
        GPIO number for UART RX pin

    config ZE03_UART_TXD
      depends on WINSEN_ZE03_FEATURE
      int "ZE03 UART TXD pin number"
      default 17
      help
        GPIO number for UART TX pin

    config ZE03_UART_RXBUF_SIZE
      depends on WINSEN_ZE03_FEATURE
      int "ZE03 UART rx buffer size"
      default 2048
      help
        UART rx buffer size for the Winsen ZE03

    config ZE03_UART_TXBUF_SIZE
      depends on WINSEN_ZE03_FEATURE
      int "ZE03 UART tx buffer size"
      default 0
      help
        UART tx buffer size for the Winsen ZE03

  endmenu
