
#
CONFIG_AUTOSTART_ARDUINO=n
# end of Arduino ESP32

#
# FREERTOS
#
CONFIG_FREERTOS_HZ=1000
# end of FREERTOS
# end of Component config
#

# board version 0.4
#
CONFIG_SENSOR_PORT_0_DETECT_PIN=35
CONFIG_SENSOR_PORT_0_CTRL_PIN=5
CONFIG_SENSOR_PORT_1_DETECT_PIN=36
CONFIG_SENSOR_PORT_1_CTRL_PIN=6
CONFIG_SENSOR_PORT_2_DETECT_PIN=37
CONFIG_SENSOR_PORT_2_CTRL_PIN=7
CONFIG_SENSOR_PORT_3_DETECT_PIN=38
CONFIG_SENSOR_PORT_3_CTRL_PIN=8
CONFIG_SENSOR_PORT_4_DETECT_PIN=39
CONFIG_SENSOR_PORT_4_CTRL_PIN=15
CONFIG_SENSOR_PORT_5_DETECT_PIN=40
CONFIG_SENSOR_PORT_5_CTRL_PIN=19

#LED RGB GPIO
CONFIG_STATUS_LED_BLUE_PIN=41
CONFIG_STATUS_LED_GREEN_PIN=42
CONFIG_STATUS_LED_RED_PIN=45
