menu "SmartFarm Sensors Configuration"
  config BATTERY_FEATURE
    bool "Battery feature"
    default "y"
    help
      Battery feature to get battery level of sensor

  config SHT3x_FEATURE
    bool "SHT3x feature"
    default "y"
    help
      SHT3x Temperature and Humidity Sensor
  
  config SCD4x_FEATURE
    bool "SCD4x feature"
    default "y"
    help
      SCD4x CO2 and Temperature Humidity Sensor
endmenu # Sensors
