menu "Sensors Features"

  config SHT3X_FEATURE
    bool "SHT3x feature"
    default "n"
    help
      SHT3x Temperature and Humidity Sensor

  config SCD4X_FEATURE
    bool "SCD4x feature"
    default "n"
    help
      SCD4x CO2 and Temperature Humidity Sensor

  config ATLAS_PH_FEATURE
    bool "Atlas pH feature"
    default "n"
    help
      Atlas pH Sensor

  config ATLAS_EC_FEATURE
    bool "Atlas EC feature"
    default "n"
    help
      Atlas EC Sensor

  rsource "winsen_ze03/Kconfig.in"
  rsource "winsen_zce04b/Kconfig.in"
  rsource "th01/Kconfig.in"

endmenu # Sensors
