menu "Sensors Features"
  config SHT3x_FEATURE
    bool "SHT3x feature"
    default "y"
    help
      SHT3x Temperature and Humidity Sensor

  config SCD4x_FEATURE
    bool "SCD4x feature"
    default "y"
    help
      SCD4x CO2 and Temperature Humidity Sensor

  config ATLAS_PH_FEATURE
    bool "Atlas pH feature"
    default "y"
    help
      Atlas pH Sensor

  config ATLAS_EC_FEATURE
    bool "Atlas EC feature"
    default "y"
    help
      Atlas EC Sensor
endmenu # Sensors
